<h1>Listing officers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Rank</th>
      <th>Name</th>
      <th>Section</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
    <tr>
      <td class="shirt-color <%= officer.shirt_color %>"></td>
      <td><%= officer.rank %></td>
      <td><%= officer.name %></td>
      <td><%= officer.section ? officer.section.name : "Unassigned" %></td>
      <td><%= link_to "Promote", promote_officer_path( officer ), method: :post %></td>
      <td><%= link_to "Demote", demote_officer_path( officer ), method: :post %></td>
      <td><%= link_to 'Show', officer %></td>
      <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
      <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Officer', new_officer_path, class: "btn" %>
